html {
  font-family: Overpass, sans-serif;

  color: #fff;

}

section {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}

.border {
  border-bottom: 3px solid rgba(255, 255, 255, .25);
}

.btn-ghost {
  border-color: rgba(255, 255, 255, .75);

  color: #fff;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
}

@media only screen and (min-width: 60em) {

  .border {
    border-bottom: none;
    border-right: 4px solid rgba(255, 255, 255, .25);
  }

}
